<ion-view view-title="Autres">
    <ion-content class="padding">
        <h3>Autres dépenses</h3>

        <div class="list card" ng-repeat="ligne in autres.getAutres()">
            <label class="item item-input">
                <span class="input-label">{{ligne.nom}} : </span>
                <input type="number" ng-model="data.tab_autres[ligne.id].cout" ng-change="data.rafraichirCout(ligne.id)"/>
                <button class="button icon ion-trash-a button-clear button-assertive" ng-click="$parent.data.alert()"></button>
            </label>

        </div>
    </ion-content>
</ion-view>
