<ion-view view-title="Autres">

    <ion-content class="padding">
        <h3>Autres dépenses</h3>

        <ion-toggle ng-model="data.shouldShowDelete">
            Supprimer des items
        </ion-toggle>

        <ion-list show-delete="data.shouldShowDelete" ng-repeat="ligne in tab_autres">
            <ion-item>
                <ion-delete-button class="ion-trash-a" ng-click="supprimer($index)"></ion-delete-button>
                {{ligne.id}}
                <input type="text" ng-model="tab_autres[ligne.id].nom"/>
                <input type="number" ng-model="tab_autres[ligne.id].cout"/>
            </ion-item>
        </ion-list>
        {{data.tab_autres}}

    </ion-content>
</ion-view>
