<ion-view cache-view="false" view-title="{{data.getNom()}}">
    <ion-nav-title ng-bind="data.getNom()"></ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="ligne in budget.getBudget()" type="item-text-wrap" href="#/tab/budget/{{ligne.page}}">
                <h2>{{ligne.nom}}</h2>
                <p>{{budget.getMontant(ligne.id)}}</p>
            </ion-item>
            <div class="item item-divider">Totaux</div>
            <ion-item>
                <h2>Cout total</h2>
                <p ng-bind="budget.getTotal()"></p>
            </ion-item>
            <ion-item>
                <h2>Cout par jeune</h2>
                <p ng-bind="budget.getCoutJeune()"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
